body {
    --color: black;
    --bg: #eee;
    --secondary-color: #878787;
    --tertiary-color: #999;
    --true-highlight: #00ff37;
    --highlight: color-mix(in lab, var(--true-highlight) 80%, var(--tertiary-color) 20%);
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
    margin: 0.8em;
    padding: 0;
    color: var(--color);
    color-scheme: light dark;
    height: 100%;
}
@media (prefers-color-scheme: dark) {
    body {
        --color: white;
        --bg: #222;
        --secondary-color: #333;
        --tertiary-color: #555;
        color-scheme: dark light;
    }    
}
#soundboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.8em;
}
#soundboard:not(.loaded) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#soundboard:not(.loaded) #soundboard-loader {
    font-size: 2em;
    color: var(--tertiary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#soundboard:not(.loaded) > :not(#soundboard-loader) {
    display: none;
}
#soundboard.loaded {
    display: grid;
}
#soundboard.loaded #soundboard-loader {
    display: none;
}
#soundboard button {
    background-color: var(--secondary-color);
    color: var(--color);
    border: 0.2em solid var(--tertiary-color);
    border-radius: 0.4em;
    padding: 0.8em;
    --shadow-size: 0.5rem;
    box-shadow: 0 var(--shadow-size) 0 var(--tertiary-color);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
    transform: translateY(calc(var(--shadow-size)*-1));
    font-weight: 600;
}
#soundboard button.playing .sound-icon {
    display: inline-block;
}
#soundboard button:not(.playing) .sound-icon {
    display: none;
}
.sound-icon {
    margin-left: 0.5em;
}
.error-icon {
    margin-left: 0.5em;
}
#soundboard button.error {
    --highlight: #ff3333;
    background-color: #f00;
    --tertiary-color: color-mix(in lab, var(--highlight) 60%, var(--secondary-color) 40%);
    color: white;
}
#soundboard button.error:hover {
    background-color: var(--highlight);
}

#soundboard button.error .error-icon {
    display: inline-block;
}
#soundboard button:not(.error) .error-icon {
    display: none;
}

#soundboard button:active {
    --shadow-size: 0.3rem;
}
#soundboard button:hover {
    background-color: var(--highlight);
    --tertiary-color: color-mix(in lab, var(--highlight) 60%, var(--secondary-color) 40%);
}
@media (forced-colors: active) {
    #soundboard button {
        forced-color-adjust: none;
        background-color: ButtonFace;
        color: ButtonText;
        border-color: ButtonText;
        box-shadow: 0 var(--shadow-size) 0 ButtonText;
    }
    #soundboard button:hover {
        border-color: Highlight;
        background-color: ButtonFace;
        box-shadow: 0 var(--shadow-size) 0 Highlight;
    }
}
*, *::before, *::after {
    box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 0s !important;
    }
}
::selection {
    background-color: var(--highlight);
    color: var(--color);
}
@media (forced-colors: active) {
    ::selection {
        background-color: Highlight;
        color: HighlightText;
    }
}
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    cursor: inherit;
 }