body {
    --color: black;
    --bg: #eceff1;
    --secondary-color: #a8b6c7;
    --tertiary-color: #979bad;
    --link: #006992;
    --link-hover: #005f85;
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
    margin: 0.8em;
    padding: 0;
    color: var(--color);
    color-scheme: light dark;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        --color: white;
        --bg: #0f1522;
        --secondary-color: #2c313a;
        --tertiary-color: #424a58;
        --link: #00b7ff;
        --link-hover: #009bd8;
    }    
}
a, .link {
    color: var(--link);
    text-underline-offset: 0.1em;
    text-decoration: underline;
    background-color: transparent;
    font-size: inherit;
    display: inline;
    border: none;
    padding: 0;
    border-radius: 0;
    text-align: start;
}

a:hover, .link:hover {
    color: var(--link-hover);
}
.no-line {
    text-decoration: none !important;
}
.icon-link {
    display: inline-flex;
    gap: .3rem;
    align-items: center;
}
.icon-link.hover-effect {
    transition: gap 0.2s ease;
}
.icon-link.hover-effect:hover {
    gap: .5rem;
}
button {
    background: var(--secondary-color);
    color: var(--color);
    border: 2px solid var(--tertiary-color);
    border-radius: 0.4em;
    padding: 0.5em 0.8em;
    cursor: pointer;
}
details {
    margin: 0.5em 0;
    padding: 1em;
    margin-top: 0;
    border: 1px solid var(--tertiary-color);
    border-radius: 0.5em;
}
details[open] {
    margin-top: 0;
}
details[open] summary {
    margin: 0 calc(-1em + 2px);
    padding: 0 calc(1em - 2px);
    margin-bottom: 1em;
    padding-bottom: calc(1em - 3px);
    border-bottom: 1px solid var(--tertiary-color);
}
details summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0;
    user-select: none;
}
details summary > * {
    display: inline;
}
details > *:last-child {
    margin-bottom: 0;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0.5em 0;
}